.hero #title
{

  font-size: 100px;
  color:#533838;
  
  
  


}

 .hero .title_2{
  font-size: 100;
  
 }

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:25px;
  margin-top:30px;
}

.card{
  background:linear-gradient(145deg,#ffffff,#eef3ff);
  border-radius:22px;
  padding:22px;
  box-shadow:0 20px 45px rgba(0,0,0,.25);
  transition:.4s ease;
  position:relative;
  overflow:hidden;
  animation:zoomIn .6s ease;
}

.card::before{
  content:"";
  position:absolute;
  inset:0;
  background:linear-gradient(120deg,transparent,rgba(229, 219, 30, 0.15),transparent);
  transform:translateX(-100%);
  transition:.6s;
}

.card:hover::before{
  transform:translateX(100%);
}

.card:hover{
  transform:translateY(-12px) scale(1.02);
}

.card h3{
  font-size:1.15rem;
  margin-bottom:10px;
  color:#000000;
}

.card a{
  display:inline-block;
  margin-top:12px;
  padding:10px 16px;
  border-radius:30px;
  background:linear-gradient(135deg,#1e88e5,#c0b715);
  color:#fff;
  font-weight:600;
  transition:.3s;
}

.card a:hover{
  background:linear-gradient(135deg,#ff9800,#ffed22);
}

.time{
  font-size:.95rem;
  color:#555555;
}


@keyframes zoomIn{
  from{opacity:0;transform:scale(.8)}
  to{opacity:1;transform:scale(1)}
}

#toTop{
  position:fixed;
  bottom:25px;
  right:25px;
  width:60px;
  height:60px;
  border-radius:50%;
  border:none;
  background:linear-gradient(135deg,#ff9800,#434900);
  color:#fff;
  font-size:24px;
  cursor:pointer;
  box-shadow:0 15px 35px rgba(0,0,0,.5);
  display:none;
  animation:pulse 2s infinite;
}

@keyframes pulse{
  0%{box-shadow:0 0 0 0 rgba(255, 214, 34, 0.6)}
  70%{box-shadow:0 0 0 20px transparent}
  100%{box-shadow:0 0 0 0 transparent}
}